Source: libvidstab
Priority: optional
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Build-Depends:
 cmake,
 debhelper (>= 10)
Standards-Version: 3.9.4
Section: libs
Homepage: http://public.hronopik.de/vid.stab/
Vcs-Browser: https://github.com/rbrito/pkg-libvidstab
Vcs-Git: https://github.com/rbrito/pkg-libvidstab

Package: libvidstab-dev
Section: libdevel
Architecture: any
Depends:
 ${misc:Depends},
 libvidstab0.9 (= ${binary:Version})
Description: video stabilization library (development files)
 Imagine you captured a nice video with your camcorder, compact camera or
 even cell phone while skiing, cycling or whatever sports and the video is
 basically just jiggled.
 .
 Modern cameras come along with hardware stabilisation, however this does
 not work if you have really strong vibrations - rather the contrary -
 sometimes this mechanism starts to oscillate.
 .
 Vid.Stab is your friend in this matter. It is designed to stabilize even
 strongly jiggled clips.
 .
 This package contains the development files of vid.stab.

Package: libvidstab0.9
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: video stabilization library (shared library)
 Imagine you captured a nice video with your camcorder, compact camera or
 even cell phone while skiing, cycling or whatever sports and the video is
 basically just jiggled.
 .
 Modern cameras come along with hardware stabilisation, however this does
 not work if you have really strong vibrations - rather the contrary -
 sometimes this mechanism starts to oscillate.
 .
 Vid.Stab is your friend in this matter. It is designed to stabilize even
 strongly jiggled clips.
 .
 This package contains the shared library.
