Source: libvidstab
Priority: optional
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Build-Depends:
 cmake,
 debhelper (>= 10)
Standards-Version: 3.9.4
Section: libs
Homepage: http://public.hronopik.de/vid.stab/

Package: libvidstab-dev
Section: libdevel
Architecture: any
Depends:
 libvidstabBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libvidstabBROKEN
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
